*{
  margin: 0;
  padding:0;
  font-family: 'Cairo', sans-serif;
  /* box-sizing: border-box; */
}

header {
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(../images/sheel2.png);
  background-position: center;
  background-size: cover;
  position: relative;
}

header .logo img {
  width: 100px;
}

nav {
  background-color: inherit;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row-reverse;
  position: absolute;
  top: 85px;
  right: 55px;
}

.navigation-list li {
  margin-left: 10px;
}

.navigation-list li a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
}

nav ul li::after{
  content: '';
  width: 0;
  height: 2px;
  background: #3dbdf3;
  display: block;
  margin: auto;
  transition: 0.5s;
}

nav ul li:hover::after{
  width: 100%;
}

nav .fas {
  display: none;
}

.fa-bars.show,
.fa-times.hide {
  display: block;
}

.fa-bars.hide,
.fa-times.show {
  display: none;
}

.navigation-list.show {
  display: none;
  position: absolute;
  top: 85px;
  right: 10px;
  background-color: #f2f2f2;
  padding: 10px;
  flex-direction: column;
  align-items: flex-start;
}

.navigation-list.show li {
  margin-left: 0;
  margin-bottom: 10px;
}

.navigation-list.show li a {
  color: #333;
  font-size: 16px;
}

.navigation-list.show li a:hover {
  color: #e6e5e5;
}

.text-box {
  background-color: inherit;
  color: #fff;
  padding: 85px;
  text-align: center; 
}

.text-box h1 {
  font-size: 36px;
  margin-bottom: 10px;
}

.text-box p {
  font-size: 16px;
  line-height: 1.5;
}

.hero-btn {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  border: 1px solid #fff;
  padding: 10px 20px;
  font-size: 14px;
  margin-top: 20px;
  transition: background-color 0.3s ease;
}

.hero-btn:hover {
  border: 1px solid #3dbdf3;
  background: #3dbdf3;
  transition: 1s;
}

@media (max-width: 768px) {
  nav .fas {
    display: block;
  }

  .fa-bars.hide,
  .fa-times.show {
    display: block;
  }

  .fa-bars.show,
  .fa-times.hide {
    display: none;
  }

  .navigation-list {
    display: none;
  }
  
  .navigation-list.show {
    display: flex;
  }
  
  header {
    min-height: auto;
    height: 100vh;
  }

  .navigation-list.show {
    top: 110px;
    right: 0px;
    background-color: #2196F3;
    width: 23%;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
  }

  .navigation-list.show li {
    margin-left: 0;
    margin-bottom: 10px;
  }

  .navigation-list.show li a {
    color: #333;
    font-size: 16px;
    text-align: center;
    width: 100%;
    display: block;
  }
  
  nav ul li::after{
    content: '';
    width: 0;
    height: 2px;
    background: #3dbdf3;
    display: block;
    margin: auto;
    transition: 0.5s;
  }

  nav ul li:hover::after{
    width: 100%;
  }
}
  /* end header */
/* Slideshow Styles */
.slideshow-container {
  width: 100%;
  margin: auto;
  text-align: center;
  padding-top: 100px;
  position: relative;
  max-width: 100%;
  /* margin: auto; */
}

.mySlides {
  display: none;
}

.fade {
  animation: fade 2s ease-in-out infinite;
}


.prev {
  position: absolute;
  left: 0;
  border-radius: 3px 0 0 3px;
}

.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 64%;
  width: auto;
  padding: 16px;
  margin-top: 0px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Media Queries */


@media (max-width: 768px) {
  .prev,
  .next,
  .text {
    font-size: 12px;
  }
}
/* Grid container */
.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

/* Section item */
.section-item {
  border: 1px solid #ccc;
  border-radius: 10px;
  text-align: center;
}

/* Section title */
.section-title h2 {
  margin: 0;
  font-size: 20px;
  color: #333;
}

/* Section image */
.section-image {
  width: 100%;
  height: 50%;
  margin-bottom: 10px;
  margin-top: 10px;
  border-radius: 10px;
}

/* Section description */
.section-description {
  color: #666;
}
/* Responsive styles */
@media (max-width: 768px) {
  .grid-container {
    grid-template-columns: 1fr;
  }
}
/* end home page */
/* store page */
.page {
  margin: auto;
  text-align: right;
  margin-top: 20px;
}

.page h1 {
  color: #fff;
  background: linear-gradient(rgba(7, 33, 136, 0.7), rgba(4, 9, 30, 0.7));
  padding: 10px;
  border-radius: 10px;
}

.page p {
  margin-left: 30%;
  padding-top: 10px;
  font-weight: 700;
}

.dept-container {
  display: flex;
  justify-content: space-between;
  background: linear-gradient(rgba(7, 33, 136, 0.7), rgba(4, 9, 30, 0.7));
  border-radius: 10px;
  padding: 10px;
  margin-top: 20px;
  flex-direction: row-reverse;
}

.dept-container h2 {
  color: #97f1e7;
  margin: 0;
}

.dept-links ul {
  list-style: none;
  display: flex;
  padding: 0;
  flex-wrap: wrap;
}

.dept-links ul li {
  margin: 5px;
}

.dept-links ul li a {
  text-decoration: none;
  color: #e6e5e5;
}
.dept-links ul li::after{
  content: '';
  width: 0;
  height: 2px;
  background: #3dbdf3;
  display: block;
  margin: auto;
  transition: 0.5s;
}

.dept-links ul li:hover::after{
  width: 100%;
}

/* Media Queries */
@media (max-width: 768px) {
  .page p {
    margin-left: 0;
    text-align: center;
  }
}

@media (max-width: 576px) {
  .dept-container {
    flex-direction: column;
    align-items: center;
  }
}
.brodects{
  margin-top: 20px;
 
}
.brodects h2 {
  margin-top: 10px;
  text-align: center;
  font-weight: 800px;

}
.brodects p {
  text-align: right;
  font-size: medium;
  margin-bottom:10px;
  padding: 10px;
}
/* footer */
footer {
  direction: rtl;
  text-align: right;
  background-color: #f2f2f2;
  margin-top: 40px;
  padding: 40px 0;
  color: #777;
  border-radius: 10px;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

.footer-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer-column {
  width: 30%;
  margin-bottom: 20px;
}

h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

p {
  margin: 0;
  line-height: 1.5;
}

.social-links {
  list-style: none;
  padding: 0;
  margin: 0;
}

.social-links li {
  display: inline-block;
  margin-right: 10px;
}

.social-links a {
  color: #777;
  text-decoration: none;
  font-size: 20px;
}

.footer-bottom {
  text-align: center;
  margin-top: 30px;
}

.footer-bottom p {
  margin: 0;
}

@media (max-width: 768px) {
  .footer-column {
    width: 100%;
  }
}
/*prod evo  */
.comment {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.comment .logo img {
  height: 300px;
  width: 100%;
  margin-right: 3px;
  border-radius: 10px;
}

.name {
  font-weight: bold;
}

.content {
  margin-top: 10px;
}

.approval-icons {
  display: flex;
  align-items: center;
}

.approval-icon {
  cursor: pointer;
  margin-right: 5px;
  padding: 5px 10px;
  border-radius: 4px;
  background-color: #03a9f4bf;
  transition: background-color 0.3s ease;
}

.approval-icon:hover {
  background-color: #bbb;
}

.approval-counters {
  margin-top: 10px;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .comment {
    flex-direction: column;
    align-items: flex-start;
  }

  .comment .logo img {
    margin-bottom: 10px;
  }

  .name,
  .content,
  .approval-icons {
    margin-top: 10px;
    padding-top: 10px;
  }
  .approval, .disapproval{
    margin: 10px;
   
  }
}

